@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500&display=swap');

$purple: #4361EE;
$dark-purple: #3F37C9;
$pink: #F72585;

/* Tamaños */
.w100{
    width: 100%;
}

.w100px{
    width: 100px;
}

.w300px{
    width: 300px;
}

.w400px{
    width: 400px;
}

.w500px{
    width: 500px;
}

.w50px{
    width: 50px;
}

.w500px{
    width: 500px;
}

.w50px{
    width: 50px;
}

.h100px{
    height: 100px;
}

.h500px{
    height: 500px;
}

.h400px{
    height: 400px;
}

.h300px{
    height: 300px;
}

.h100p{
    height: 100%;
}

.h100{
    height: 100vh;
}

.h100per{
    height: 100%;
}

.h99{
    height: 99vh;
}

.h25{
    height: 25vh;
}

.h50px{
    height: 50px;
}

.h50{
    height: 50vh;
}

.h20{
    height: 20vh;
}

.h15{
    height: 15vh;
}

.h90{
    height: 90vh;
}

/* Margin */
.nomarg{
    margin: 0;
}

.marg10px{
    margin: 10px;
}

.marg20px{
    margin: 20px;
}

.marg_top20px{
    margin-top: 20px;
}

.marg_top10px{
    margin-top: 10px;
}

.margin_top_7{
    margin-top: 7%;
}

.margin_top_15{
    margin-top: 12.5%;
}

.margin_right_10px{
    margin-right: 10px;
}

.margin_right_20px{
    margin-right: 20px;
}

.margin_right_30px{
    margin-right: 30px;
}

.margin_top_15px{
    margin-top: 15px;
}

.margin_bottom_10px{
    margin-bottom: 10px;
}

.margin_left_20px{
    margin-left: 20px;
}

.margin_left_10px{
    margin-left: 10px;
}

.margin0{
    margin: 0px;
}

/* Textos */
.nodecoration{
    text-decoration: none;
}

.fwbold{
    font-weight: bold;
}

.fsize20{
    font-size: 20px;
    font-family: 'Roboto Slab', serif;
}

.text_center{
    text-align: center;
}

.fsize30{
    font-size: 30px;
    font-family: 'Roboto Slab', serif;
}

/* Colors */
.dark_purple{
    color: $dark-purple;
}

.purple{
    color: $purple;
}

.pink{
    color: $pink;
}

.white{
    color: #fff;
}

.black{
    color: #fff;
}

/* enlaces */
.enlace{
    &:hover{
        color: $dark-purple;
        text-decoration: none;
    }
}

/* Paddings */

.pad5px{
    padding: 5px;
}

.pad10px{
    padding: 10px;
}

.pad20px{
    padding: 20px;
}

.pad_left10{ padding-left: 10px; }
.pad_left20{ padding-left: 20px; }
.pad_left30{ padding-left: 30px; }
.pad_left40{ padding-left: 40px; }
.pad_left60{ padding-left: 60px; }
.pad_left90{ padding-left: 90px; }

.pad_right10{ padding-right: 10px; }
.pad_right20{ padding-right: 20px; }
.pad_right30{ padding-right: 30px; }
.pad_right60{ padding-right: 60px; }
.pad_right90{ padding-right: 90px; }

.pad_top5{ padding-top: 5px; }
.pad_top10{ padding-top: 10px; }
.pad_top20{ padding-top: 20px; }
.pad_top30{ padding-top: 30px; }
.pad_top60{ padding-top: 60px; }
.pad_top90{ padding-top: 90px; }

.pad_bottom5{ padding-bottom: 5px; }
.pad_bottom10{ padding-bottom: 10px; }
.pad_bottom20{ padding-bottom: 20px; }
.pad_bottom30{ padding-bottom: 30px; }
.pad_bottom60{ padding-bottom: 60px; }
.pad_bottom90{ padding-bottom: 90px; }

/* Para formularios */
.input_label{
    margin: 0 0 0 10px;
    font-size: 30px;
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    color: $purple;
}

.input_text{
    padding: 20px 30px 20px 30px;
    margin: 10px;
    background: rgba($purple, 0.1);
    border: none;
    border-radius: 10px;
    outline: none;
    box-shadow: inset 5px 5px 5px rgba($purple, 0.25);
    color: $purple;
    font-size: 25px;
    font-family: 'Roboto Slab', serif;
    &::placeholder{
        color: $dark-purple;
        font-size: 25px;
        font-family: 'Roboto Slab', serif;
    }
}

.input_submit{
    outline: none;
    border-radius: 10px;
    border: 5px solid $purple;
    box-shadow: 10px 10px 0px $dark-purple;
    font-size: 25px;
    color: $purple;
    font-weight: 500;
    padding: 20px 40px 20px 40px;
    background: #fff;
    margin: 10px;
    font-family: 'Roboto Slab', serif;
    transition: box-shadow .5s ease;
    &:hover{
        box-shadow: 12px 12px 0px $dark-purple;
        cursor: pointer;
    }
}

/* Boxes */
.box{
    border: 5px solid $purple;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 10px 10px 0px $dark-purple;
    background: #fff;
}

.box_no_padding{
    border: 5px solid $purple;
    border-radius: 10px;
    box-shadow: 10px 10px 0px $dark-purple;
    background: #fff;
}

.box_depth{
    padding: 20px;
    margin: 10px;
    background: rgba($purple, 0.1);
    border: none;
    border-radius: 10px;
    outline: none;
    box-shadow: inset 5px 5px 5px rgba($purple, 0.25);
    color: $purple;
    font-size: 25px;
    font-family: 'Roboto Slab', serif;
    &::placeholder{
        color: $dark-purple;
        font-size: 25px;
        font-family: 'Roboto Slab', serif;
    }
}

/* Posicionamiento Flex */
.flex{
    display: flex;
}

.flex_strech{
    align-items: stretch;
}

.flexbox{
    display: flexbox;
}

.flex_start{
    justify-content: flex-start;
}

.flex_end{
    justify-content: flex-end;
}

.flex_h_center{
    justify-content: center;
}

.flex_space_between{
    justify-content: space-between;
}

.flex_space_around{
    justify-content: space-around;
}

.flex_space_evenly{
    justify-content: space-evenly;
}

.flex_row{
    flex-direction: row;
}

.flex_align_top{
    align-items: flex-start;
}

.flex_align_bottom{
    align-items: flex-end;
}

.flex_v_center{
    align-items: center;
}

.flex_align_v_strech{
    align-items: stretch;
}

.flex_col{
    flex-direction: column;
}

.flex_wrap{
    flex-wrap: wrap;
}

.flex_no_wrap{
    flex-wrap: nowrap;
}

.flex_align_content_bottom{
    align-content: flex-end;
}

/* Classic align */
.classic_v_align{
    margin-top: 25%;
    transform: translateY(-50%);
}

.text_align_center{
    text-align: center;
}

/* Position */
.position_absolute{
    position: absolute;
}

.pos_abs_top0{
    top: 0;
}

.pos_abs_bot0{
    bottom: 0;
}

.pos_abs_left0{
    left: 0;
}

.pos_abs_right0{
    right: 0;
}

.right0{
    right: 0;
}

.right500{
    right: 500px;
}

.bot500px{
    bottom: 500px;
}

/* Buttons */
.round_button{
    outline: none;
    border-radius: 10px;
    border: 5px solid $purple;
    box-shadow: 10px 10px 0px $dark-purple;
    font-size: 25px;
    color: $purple;
    font-weight: 500;
    padding: 20px;
    background: #fff;
    margin: 10px;
    font-family: 'Roboto Slab', serif;
    transition: box-shadow .5s ease;
    &:hover{
        box-shadow: 12px 12px 0px $dark-purple;
        cursor: pointer;
    }
}

/* SVG */
.svg_purple{
    fill: $purple;
}

.svg_dark_purple{
    fill: $dark-purple;
}

/* Backgrounds */
.bgpurple{
    background: $purple;
}

.bgpurple_blur{
    background: rgba($purple, 0.5);
    backdrop-filter: blur(10px);
}

.bgdarkpurple{
    background: $dark-purple;
}

.bgpink{
    background: $pink;
}

.gbwhite{
    background: white;
}

.bggrey{
    background: rgb(139, 139, 139);
}

.bglightgrey{
    background: rgb(216, 216, 216);
}

.bgred{
    background: #e63946;
}

.bggreen{
    background-color: #5bb863;
}

.bg_dark_green{
    background-color: #5bb863;
}

.bgtransparent{
    background: rgba(0,0,0,0);
}

/* Borders */
.border_purple{
    border-color: $purple;
}

.border_solid{
    border-style: solid;
}

.border_w_2px{
    border-width: 2px;
}

.border_none{
    border: none;
}

.border_bottom_5px{
    border-bottom: 5px solid;
}

/* Border style */
.border_style_dashed{
    border-style: dashed;
}

.border_style_bottom_none{
    border-bottom: none;
}

.border_style_3px{
    border-width: 10px;
}

.border_style_purple{
    border-color: $purple;
}

.border_style_darkgreen{
    border-color: #2ebd3a;
}

.border_style_darkred{
    border-color: #b12c37;
}

/* Border radius */

.border_radius_10px{
    border-radius: 10px;
}

.border_radius_no_bottom{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.border_radius_no_top{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.border_radius_50{
    border-radius: 50%;
}

.border_radius_100px{
    border-radius: 100px;
}

.border_radius_200px{
    border-radius: 200px;
}

/* Hovers */
.sombra_enlace{
    transition: box-shadow .5s ease;
    &:hover{
        box-shadow: 12px 12px 0px $dark-purple;
        cursor: pointer;
    }
}

.shadow{
    box-shadow: 10px 10px 0px $dark-purple;
}

/* Object fit */
.fit_scaledown{
    object-fit: scale-down;
}

.fit_cover{
    object-fit: cover;
}

/* Visibility */
.invisible {
    visibility: hidden;
}
.visible {
    visibility: visible;
}

.zindex2{
    z-index: 2;
}

.zindex3{
    z-index: 3;
}

/* Cursor */
.cur_no_drop:hover{
    cursor: no-drop;
}

.cur_pointer:hover{
    cursor: pointer;
}

/* Visivility */
.visivility_hidden{
    visibility:hidden;
}